<section class="banner banner--header">

    <div class="menu">
        <div class="linework linework__menu">
            {{> "menu"}}
        </div>
    </div>
    <div class="banner__container">
        <div class="banner__logo">
            <a href="/">
                <img
                    class="banner__logo-image"
                    src="{{asset "images/logo-black.png"}}"
                    alt="The Discoverer Logo"
                />
            </a>
        </div>
    </div>
</section>
